.footer__wrapper {
    background-color: #051922;
    color: #fff;
}

.footer__container {
    padding: 150px 0;
    max-width: 1170px;
    margin: 0 auto;
}

.footer__inner {
    width: 25%;
    padding: 0 15px;

}

.footer__col {
    .footer-widget__p {
        color: #fff;
        opacity: 0.7;
        line-height: 1.8;
        margin-bottom: 18px;
    }

    li {
        opacity: 0.7;
        margin-bottom: 10px;
        line-height: 1.8;
        font-size: 14px;
        list-style: none;

        a {
            color: #fff;
        }
    }
}

.footer-widget__title {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 18px;
    color: #fff;

    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 2px;
        background-color: #F28123;
        content: "";
    }
}

.footer__col.get-in-touch__col {
    .get-in-touch__link {
        transition: 0.3s;
        text-decoration: none;
        color: #fff;
        display: inline-block;

        &:hover {
            color: #f59d53;
        }
    }
}

.footer__col.pages__col {
    ul {
        li {
            a {
                transition: 0.3s;
                text-decoration: none;
                display: inline-block;
            }

            .fa-angle-right {
                &:before {
                    font-weight: 900;
                    color: #F28123;
                    margin-right: 10px;
                }
            }

            &:hover {
                a {
                    color: #F28123;
                }
            }
        }
    }
}

.footer__col.subscribe__col {
    .footer-widget__form {
        .footer-widget__input[type=email] {
            border: none;
            background-color: #012738;
            width: 78%;
            padding: 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
        }

        .footer-widget__button {
            transition: 0.3s;
            width: 20%;
            border: none;
            background-color: #012738;
            color: #F28123;
            padding: 14px 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: #F28123;
                color: #051922;
            }
        }
    }
}

.copyright {
    background-color: #051922;
    border-top: 1px solid #232a35;

    .copyright__p {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        padding: 16px 0;
        font-size: 15px;
    }

    .copyright__a {
        color: #F28123;
        font-weight: 700;

        &:hover {
            color: #f59d53;
        }
    }
}

.copyright__container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.copyright-social__wrapper {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            a {
                font-size: 16px;
                color: #fff;
                opacity: 0.7;
                padding: 16px 10px;
                display: block;

                &:hover {
                    color: #f59d53;
                }
            }
        }
    }
}