footer.footer    
    div.footer__container
        div.footer__row
            include footer-first-col.pug

            include footer-second-col.pug
            
            include footer-third-col.pug
           
            include footer-fourth-col.pug
         
    include copyright.pug