footer
    div.footer__wrapper
        div.footer__container
            div.footer__row
                div.footer__inner
                    div.footer__col.about-us__col
                        h2.footer-widget__title About us
                        p.footer-widget__p
                            | Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                div.footer__inner
                    div.footer__col.get-in-touch__col
                        h2.footer-widget__title Get in Touch
                        ul
                            li 34/8, East Hukupara, Gifirtok, Sadan.
                            li support@fruitkha.com
                            li
                                a.get-in-touch__link(href="#") +00 111 222 3333
                div.footer__inner
                    div.footer__col.pages__col
                        h2.footer-widget__title Pages
                        ul
                            li
                                a(href='index.html') 
                                    i.fa.fa-angle-right 
                                    |  Home
                            li
                                a(href='about.html') 
                                    i.fa.fa-angle-right 
                                    |  About
                            li
                                a(href='services.html') 
                                    i.fa.fa-angle-right 
                                    |  Shop
                            li
                                a(href='news.html') 
                                    i.fa.fa-angle-right 
                                    |  News
                            li
                                a(href='contact.html') 
                                    i.fa.fa-angle-right 
                                    |  Contact

                div.footer__inner            
                    div.footer__col.subscribe__col
                        h2.footer-widget__title Subscribe
                        p.footer-widget__p Subscribe to our mailing list to get the latest updates.
                        form.footer-widget__form(action='index.html')
                            input.footer-widget__input( type='email', placeholder='Email')
                            button.footer-widget__button(type='submit')
                                i.fa.fa-paper-plane
        div.copyright
            div.copyright__wrapper
                div.copyright__container
                    div.copyright__inner
                        p.copyright__p
                            | Copyrights &copy; 2019 - 
                            a.copyright__link(href='https://imransdesign.com/') Imran Hossain
                            | ,  All Rights Reserved.
                    div.copyright-social__wrapper
                        ul
                            li
                                a(href='#', target='_blank')
                                    i.fa.fa-facebook-f
                            li
                                a(href='#', target='_blank')
                                    i.fa.fa-twitter
                            li
                                a(href='#', target='_blank')
                                    i.fa.fa-instagram
                            li
                                a(href='#', target='_blank')
                                    i.fa.fa-linkedin
                            li
                                a(href='#', target='_blank')
                                    i.fa.fa-dribbble