@import "src/scss/global-style/media";

.pagination {
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include breakpoint(sm-max) {
    padding: 5px;
  }

  &__list {
    display: flex;
    list-style-type: none;
    @include breakpoint(sm-max) {
      flex-wrap: wrap;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 18px;
    margin: 15px;
    border: 2px solid #051922;
    color: #323232;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 25px;
    @include breakpoint(sm-max) {
      font-size: 14px;
    }
  }
  &_item-color{
    background-color: #f49b49;
    border: none;
  }
}
