.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  &__navigation {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
  }

  &__img-logo {
    width: 140px;
  }

  &__icon {
    width: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-basket {
    color: white;
    padding-right: 20px;
    transition: color linear 0.2s;

    &:hover {
      color: #F28123;
    }
  }

  &__icon-search {
    transition: color linear 0.2s;
    color: white;

    &:hover {
      color: #F28123;
    }
  }

  &__link {
    transition: color linear 0.2s;
    text-decoration: none;
    color: white;

    &:hover {
      color: #F28123;
    }
  }
}

@import "../global-styles/media";
@include breakpoint(sm-max) {
  .header__navigation {
    width: 90%;
  }
}
