section.section-product-promotion
    .section-product-promotion__container-promotion-info
        .section-product-promotion__img-product-promotion
            img(src='./img/a1.jpg')
            .section-product-promotion__store-promotion-price
                    h1.section-product-promotion__section-title
                     span.section-product-promotion__price
                        strong 30%
                        br
                        | per kg
        .section-product-promotion__product-promotion-inform
            h2
                |Deal
                span  of the month
            span HIKAN STRWABERRY
            p
                | Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea.
                | Perspiciatis unde omnis iste natus error sit voluptatem accusant
            .section-product-promotion__box-time
                .section-product-promotion__time-action
                    span#section-product-promotion-days.color-word 00
                    p Days
                .section-product-promotion__time-action
                    span#section-product-promotion-hours.color-word 00
                    p Hours
                .section-product-promotion__time-action
                    span#section-product-promotion-mins.color-word 00
                    p Mins
                .section-product-promotion__time-action
                    span#section-product-promotion-secs.color-word 00
                    p Secs
            a.section-product-promotion__btn.btn-add-to-card(data-add-to-cart='Strawberry')
                i.fa.fa-shopping-cart.products__icon
                | Add to Cart