section.news-banner 
    .news-banner__inner
        .news-banner__text
            p.news-banner__subtitle
                | ORGANIC INFORMATION
            h1.news-banner__title 
                | News Article
