section.cart-banner 
    .cart-banner__inner
        .cart-banner__text
            p.cart-banner__subtitle
                | FRESH AND ORGANIC
            h1.cart-banner__title 
                | Cart
