section.about-us-banner 
    .about-us-banner__inner
        .about-us-banner__text
            p.about-us-banner__subtitle
                | WE SALE FRESH FRUITS
            h1.about-us-banner__title 
                | About Us
