section.advantages
    div.avantages__wrapper
        h3.advantages__title Why
            span  Fruitkha

        include advantages-list.pug

    div.advantages__image__wrapper
        img.advantages__image(src="./img/feature-bg.jpg")