.btn-main {
  width: 160px;
  cursor: pointer;
  background-color: #f28123;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  transition: background-color, color ease-out 5ms;

  &:hover {
    background-color: black;
    color: #f28123;
  }
}
