section.team
    div.team-title__wrapper
        h3.team__title Our
            span  Team
        p.team__subtitle 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            | Aliquid, fuga quas itaque eveniet beatae optio.
    
    include teammates.pug        