div.teammates
    ul.teammates__row
        - arrTeammatesRow = [{backgroundImg:"teammates__background_first", teammateName: "Jimmy Doe"}, {backgroundImg:"teammates__background_second", teammateName: "Marry Doe"}, {backgroundImg:"teammates__background_third", teammateName: "Simon Joe"}]
        each element in arrTeammatesRow
            li.teammates__col
                div.teammates__background(class=element.backgroundImg)
                    ul.teammates__icon__wrapper
                        - arrTeammatesIcon = ["fa fa-facebook", "fa fa-twitter", "fa fa-instagram"]
                        each element in arrTeammatesIcon
                            li.teammates__icon
                                a.teammates__icon__link(href="#")
                                    i=element.arrTeammatesIcon
                div.teammates__data
                    h5.teammates__name
                        =element.teammateName
                    p.teammates__position 
                        | Farmer           