.header {
  &__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px;
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  &__menu-box{
    display: flex;
  }

  &__link {
    transition: color linear 0.2s;
    text-decoration: none;
    color: white;

    &:hover {
      color: #F28123;
    }
  }

  &__list-menu:first-child &__link {
    color: #F28123;
  }

}


@import "src/scss/common/global-styles/media";
@include breakpoint(sm-min) {
  @include breakpoint(sm-max) {
    .header {
      &__menu-click {
        background-color: #000000;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;

        &:hover, &:focus {
          background-color: #000000;
        }
      }

      &__menu-box {
        position: relative;
        display: inline-block;
      }

      &__menu {
        display: none;
        width: 200px;
        position: absolute;
        right: 0;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      &__show {
        display: block;
      }
    }
  }
}

