section.check-out-banner 
    .check-out-banner__inner
        .check-out-banner__text
            p.check-out-banner__subtitle
                | FRESH AND ORGANIC
            h1.check-out-banner__title 
                | Check Out Product
