<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Check Out
        link(rel='shortcut icon', href='./img/favicon.png', type="image/x-icon")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='css/style.css')
        
    body
        include ../components/loader/loader.pug

        include ../components/header/header.pug

        include ../components/check-out-banner/check-out-banner.pug

        include ../components/check-out-form/check-out-form.pug

        include ../components/carousel/carousel.pug

        include ../components/footer/footer.pug

        script(src='./js/checkout.js')  