<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fruitzetked
        link(rel='shortcut icon', href='../img/favicon.png', type="image/x-icon")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='css/style.css')
    body

        include ./header-components/header.pug

        main.wrapper

            include ./homepage-components/banner.pug

            include ./homepage-components/list-information.pug

            include ./homepage-components/products.pug

            include ./homepage-components/product-promotion.pug

            include ./homepage-components/local-shop-owner.pug

            include ./homepage-components/description.pug

            include ./homepage-components/shop-banner.pug

            include ./homepage-components/latest-news.pug

            include ./homepage-components/carousel.pug

            include ./footer-components/footer.pug


