<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fruitzetked
        link(rel='shortcut icon', href='./img/favicon.png', type="image/x-icon")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='css/style.css')
        script(src='./js/header-menu.js')
        script(src='./js/timer.js')
        script(src='./js/header-scroll.js')
        script(src='./js/slider-owners.js')
        script(src='./js/header-sub-menu.js')

    body

        include ../components/header/header.pug

        main.wrapper

            include ../components/search/search.pug

            include ../components/banner/banner.pug

            include ../components/list-information/list-information.pug

            include ../components/products/products.pug

            include ../components/product-promotion/product-promotion.pug

            include ../components/local-shop-owner/local-shop-owner.pug

            include ../components/description/description.pug

            include ../components/shop-banner/shop-banner.pug

            include ../components/latest-news/latest-news.pug

            include ../components/carousel/carousel.pug

            include ../components/footer/footer.pug



