<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        link(rel='shortcut icon', href='./img/favicon.png', type="image/x-icon")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='css/style.css')
        script(src='./js/header-menu.js')
        script(src='./js/header-scroll.js')
        script(src='./js/header-sub-menu.js')
        script(src='./js/loader.js')
        script(src='./js/carousel.js')

    body
        include ../components/loader/loader.pug

        include ../components/header/header.pug

        include ../components/banner-shop/banner-shop.pug

        include ../components/pagination/pagination.pug

        include ../components/carousel/carousel.pug

        include ../components/footer/footer.pug

        script(src='./js/pagination.js')