section.logo-carousel__wrapper
    div.logo-carousel__container
        div.logo-carousel__row
            div.logo-carousel__inner
                - arrlogoCarousel = [{src: "../img/company-logos/1.png", alt: "carousel-logo"}, {src: "../img/company-logos/2.png", alt: "carousel-logo"}, {src: "../img/company-logos/3.png", alt: "carousel-logo"}, {src: "../img/company-logos/4.png", alt: "carousel-logo"}, {src: "../img/company-logos/5.png", alt: "carousel-logo"}]
                each element in arrlogoCarousel
                    div.single-logo-carousel__item
                        img.logo-carousel_img(src=element.src, alt=element.alt)
                