section.latest-news
    div.latest-news__container
        div.latest-news-title__wrapper
            h3.latest-news-title
                span.latest-news-title__item Our
                |  News               
            p.latest-news-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.
        div.latest-news__row.row
            div.latest-news__col
                div.single-latest-news__wrapper
                    a(href='single-news.html')
                        div.latest-news__background.news__first__background
                    div.latest-news-text__box
                        h3.single-latest-news__title
                            a.single-latest-news__link(href='single-news.html') You will vainly look for fruit on it in autumn.
                        p.single-latest-news__meta
                            span.meta-item
                                i.fa.fa-user
                                |  Admin
                            span.meta-item
                                i.fa.fa-calendar
                                |  27 December, 2019
                        p.latest-news__p
                            | Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.
                        a.latest-news_button(href='single-news.html')
                            | read more 
                            i.fa.fa-angle-right
            div.latest-news__col         
                div.single-latest-news__wrapper
                    a(href='single-news.html')
                        div.latest-news__background.news__second__background
                    div.latest-news-text__box
                        h3.single-latest-news__title
                            a.single-latest-news__link(href='single-news.html') A man&apos;s worth has its season, like tomato.
                        p.single-latest-news__meta
                            span.meta-item
                                i.fa.fa-user
                                |  Admin
                            span.meta-item
                                i.fa.fa-calendar
                                |  27 December, 2019
                        p.latest-news__p
                            | Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.
                        a.latest-news_button(href='single-news.html')
                            | read more 
                            i.fa.fa-angle-right
            div.latest-news__col   
                div.single-latest-news__wrapper
                    a(href='single-news.html')
                        div.latest-news__background.news__third__background
                    div.latest-news-text__box
                        h3.single-latest-news__title
                            a.single-latest-news__link(href='single-news.html') Good thoughts bear good fresh juicy fruit.
                        p.single-latest-news__meta
                            span.meta-item
                                i.fa.fa-user
                                |  Admin
                            span.meta-item
                                i.fa.fa-calendar
                                |  27 December, 2019
                        p.latest-news__p
                            | Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.
                        a.latest-news_button(href='single-news.html')
                            | read more 
                            i.fa.fa-angle-right
        div.news-button__wrapper
            a.news__button(href='news.html') More News
    