section.list-information
    - arrListInformation = [{h4: 'Free Shipping', p: 'When order over $75'}, {h4: '24/7 Support', p: 'Get support all day'}, {h4: 'Refund', p: 'Get refund within 3 days!'}]
    each element in arrListInformation
        .list-information__list-container
            i.fa.fa-truck.list-information__icon-border
            .list-information__all-inform
                h4.list-information__title= element.h4
                p.list-information__text= element.p
