section.local-shop-owner
    .local-shop-owner__container
        .local-shop-owner__avatar
            img(src='../img/avatar/avatar1.png')
        .local-shop-owner__name
            span Saira Hakim
            p Local shop owner
        .local-shop-owner__inform
            p
                | " Sed ut perspiciatis unde omnis iste natus error veritatis et
                | quasi architecto beatae vitae dict eaque ipsa quae ab illo
                | inventore Sed ut perspiciatis unde omnis iste natus error
                | sit voluptatem accusantium "
            p.icon-quote-right
    .local-shop-owner__container.local-shop-owner_hidden
        .local-shop-owner__avatar
            img(src='../img/avatar/avatar2.png')
        .local-shop-owner__name
            span Jacob Sikim
            p Local shop owner
        .local-shop-owner__inform
            p
                | " Sed ut perspiciatis unde omnis iste natus error veritatis et
                | quasi architecto beatae vitae dict eaque ipsa quae ab illo
                | inventore Sed ut perspiciatis unde omnis iste natus error
                | sit voluptatem accusantium "
            p.icon-quote-right
    .local-shop-owner__container.local-shop-owner_hidden
        .local-shop-owner__avatar
            img(src='../img/avatar/avatar3.png')
        .local-shop-owner__name
            span David Niph
            p Local shop owner
        .local-shop-owner__inform
            p
                | " Sed ut perspiciatis unde omnis iste natus error veritatis et
                | quasi architecto beatae vitae dict eaque ipsa quae ab illo
                | inventore Sed ut perspiciatis unde omnis iste natus error
                | sit voluptatem accusantium "
            p.icon-quote-right  