section.products
    div.products__container
        h3.products__title 
            span Our 
            |Products 
        p.products__subtitle
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            |Aliquid, fuga quas itaque eveniet beatae optio.
    ul.products__container
        - arrProducts = [{src: "./img/products/product-img-1.jpg", alt: "strawberry-img", title: "Strawberry", cost: "85$"}, {src: "./img/products/product-img-2.jpg", alt: "berry-img", title: "Berry", cost: "70$"}, {src: "./img/products/product-img-3.jpg", alt: "lemon-img", title: "Lemon", cost: "35$"}]
        each element in arrProducts
            li.products__col
                img.products__img(src=element.src, alt=element.alt)
                div.products__box
                    h3.products__box-title=element.title
                    div.products__box-text
                        span Per Kg
                        =element.cost
                    a.products__box-button(href="#") 
                        i.fa.fa-shopping-cart.products__icon                      
                        |Add to Cart