section.products
    div.products__container
        h3.products__title 
            span Our 
            |Products 
        p.products__subtitle
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            |Aliquid, fuga quas itaque eveniet beatae optio.
    div.products__container
        div.products__col
            img.products__img(src="./img/products/product-img-1.jpg", alt="Strawberry")
            div.products__box
                        h3.products__box-title Strawberry
                        div.products__box-text
                            span Per Kg
                            |85$
                        a.products__box-button(href="#") 
                            i.fa.fa-shopping-cart.products__icon                      
                            |Add to Cart
        div.products__col
            img.products__img(src="./img/products/product-img-2.jpg", alt="Berry")
            div.products__box
                        h3.products__box-title Berry
                        div.products__box-text
                            span Per Kg
                            |70$
                        a.products__box-button(href="#") 
                            i.fa.fa-shopping-cart.products__icon                      
                            |Add to Cart
        div.products__col
            img.products__img(src="./img/products/product-img-3.jpg", alt="Lemon")
            div.products__box
                        h3.products__box-title Lemon
                        div.products__box-text
                            span Per Kg
                            |35$
                        a.products__box-button(href="#") 
                            i.fa.fa-shopping-cart.products__icon                        
                            |Add to Cart