div.footer__col
    h2.footer__title Subscribe
    p.footer__text Subscribe to our mailing list to get the latest updates.
    form(action='index.html')
        input.footer__input( type='email', placeholder='Email')
        button.footer__button(type='submit')
            i.fa.fa-paper-plane