section.description
    div.description__inner
        div.description__elem.description__video#video
            a.description__video-btn(href="#")
                i.fa.fa-play
        div.description__elem.description__content
            span.description__top-subtitle Since Year 1999
            h2
                |We are 
                span Fruitkha
            p.description__text 
                |Etiam vulputate ut augue vel sodales. 
                |In sollicitudin neque et massa porttitor vestibulum ac vel nisi. 
                |Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. 
                |Nam eu molestie lorem.
            p.description__text  
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                |Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.
            a.description__button(href="#") know more