@import "src/scss/global-style/media";

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 999;

  &_background-color {
    background-color: #051922;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }

  &_background-color-opacity {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__img-logo {
    width: 140px;
    height: 40px;
  }

  &__icon {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__icon-basket {
    color: white;
    padding-right: 20px;
    transition: color linear 0.2s;

    &:hover {
      color: #f28123;
    }
  }

  &__icon-search {
    transition: color linear 0.2s;
    color: white;

    &:hover {
      color: #f28123;
    }
  }

  &__link {
    transition: color linear 0.2s;
    text-decoration: none;
    color: white;

    &:hover {
      color: #f28123;
    }
  }
}

// @include breakpoint(sm-max) {
//   @include breakpoint(md-max) {
//     .header {
//       &__navigation {
//         width: 100%;
//       }

//       &__img-logo {
//         width: 90px;
//       }

//       &__icon {
//         display: none;
//       }
//     }
//   }
// }

// @include breakpoint(sm-max) {
//   .header__navigation {
//     width: 100%;
//   }
//   &__img-logo {
//     width: 90px;
//   }
// }
    