header.header
    nav.header__navigation
        .header__img-logo
            a.header__logo-link(href='#')
                img(src='./img/logo.png')
        include menu
        .header__icon
            a.header__link(href='#')
                i.fa.fa-search
            a.header__link(href='#')
                i.fa.fa-shopping-cart

