@import "src/scss/global-style/media";

.header {
  &__menu {
    display: flex;
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mobile500) {
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 100px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(7, 33, 46);
      text-transform: uppercase;
      transition: 0.3s;
    }

    &.active {
      top: 0;
    }
  }

  &__menu-click {
    display: none;
    @include breakpoint(tablet) {
      display: block;
    }
    @include breakpoint(mobile500) {
      display: none;
    }
  }

  &__menu-burger {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 1;

    &.active &__item {
      transform: scale(0);
    }

    &.active::before {
      transform: rotate(45deg);
      top: 13.5px;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 13.5px;
    }

    &__item {
      position: absolute;
      top: 13.5px;
      background-color: #f28123;
      display: block;
      height: 3px;
      width: 100%;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #f28123;
      height: 3px;
      width: 100%;
      transition: 0.3s;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }

    @include breakpoint(mobile500) {
      display: block;
    }
  }

  &__list-menu:first-child &__link {
    color: #f28123;
  }

  &__link {
    transition: color linear 0.2s;
    text-decoration: none;
    color: white;
    padding: 12px;

    @include breakpoint(tablet) {
      & {
        font-size: 30px;
        color: #f28123;
        padding: 5px 20px;
        border-right: 2px solid;
      }
      &:last-child {
        border-right: none;
      }
    }

    &:hover {
      color: #f28123;
    }
  }
}

// @include breakpoint(md-max) {
//   .header {
//     &__link {
//       padding-right: 10px;
//     }
//   }
// }

// @include breakpoint(sm-max) {
//   &__link {
//     padding-right: 5px;
//   }
// }

// @include breakpoint(sm-max) {
//   .header {
//     position: absolute;

//     &__menu-box {
//       position: relative;
//       display: inline-block;
//     }

//     &__menu {
//       display: none;
//       width: 200px;
//       position: absolute;
//       right: 0;
//       top: 55px;
//       background-color: rgba(22, 39, 47, 1);
//       min-width: 160px;
//       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
//       z-index: 1;
//     }

//     &__menu-click {
//       position: absolute;
//       right: 0;
//       display: block;
//       background-color: rgba(7, 33, 46, 0.6);
//       color: white;
//       padding: 16px;
//       font-size: 16px;
//       border: none;
//       cursor: pointer;

//       span {
//         padding: 10px;
//       }

//       &:hover,
//       &:focus {
//         background-color: rgba(16, 42, 61, 0.6);
//       }
//     }

//     &__list-menu {
//       padding-right: 5px;
//     }

//     &__show {
//       display: block;
//     }
//   }
// }
