@import "src/scss/global-style/media";

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;

  &_background-color {
    background-color: #051922;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }

  &_background-color-opacity {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    &_scroll {
      padding: 3px 20px;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    @include breakpoint(tablet-600) {
      flex-direction: row-reverse;
    }
  }

  &__img-logo {
    width: 140px;
    height: 40px;
  }

  &__icon {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-basket {
    color: white;
    padding-right: 20px;
    transition: color linear 0.2s;

    &:hover {
      color: #f28123;
    }
  }

  &__icon-search {
    transition: color linear 0.2s;
    color: white;

    &:hover {
      color: #f28123;
    }
  }

  &__link {
    transition: color linear 0.2s;
    text-decoration: none;
    color: white;

    &:hover {
      color: #f28123;
    }
  }
}
