header.header#header-scroll
    .header__inner
        a.header__img-logo(href='./index.html')
            img.header__img-logo(src='./img/logo.png')
        nav.header__navigation
            include menu
        .header__icon
            a.header__link(href='#')
                i.fa.fa-search
            a.header__link(href='./shop.html')
                i.fa.fa-shopping-cart

