header.header
    nav.header__navigation
        .header__img-logo
            a.header__logo-link(href='#')
                img(src='./img/logo.png')
        ul.header__menu
            - arr = ['Home', 'About', 'Pages', 'News', 'Contact', 'Shop']
            each element in arr
                li.head__list-menu
                    a.header__link(href='#') #{element}
        .header__icon
            a.header__link(href='#')
                i.fa.fa-search
            a.header__link(href='#')
                i.fa.fa-shopping-cart