header.head
    nav.head__navigation
        .head__img-logo
            a.head__logo-link(href='#')
                img(src='../img/logo.png')
        ul.head__menu
            - arr = ['Home', 'About', 'Pages', 'News', 'Contact', 'Shop']
            each element in arr
                li.head__list-menu
                    a.head__link(href='#') #{element}
        .head__icon
            a.head__link(href='#')
                i.fa.fa-search
            a.head__link(href='#')
                i.fa.fa-shopping-cart