header.head
    nav.head__navigation
        .head__img-logo
            a.head__logo-link(href='#')
                img(src='../img/logo.png')
        ul.head__menu
            li.head__list-menu
                a.head__link(href='#') Home
            li.head__list-menu
                a.head__link(href='#') About
            li.head__list-menu
                a.head__link(href='#') Pages
            li.head__list-menu
                a.head__link(href='#') News
            li.head__list-menu
                a.head__link(href='#') Contact
            li.head__list-menu
                a.head__link(href='#') Shop
        .head__icon
            a.icon-basket(href='#')
            a.icon-search(href='#')