@import "src/scss/global-style/media";

.carousel {
  background-color: #f5f5f5;
  padding: 50px 0;
  @include breakpoint(sm-max) {
    & {
     display: none;
    }
  }

  &__container {
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__img {
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}