@import "src/scss/global-style/media";

.carousel {
  background-color: #f5f5f5;
  padding: 50px 0;
  @include breakpoint(sm-max) {
    & {
      display: none;
    }
  }

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
  }

  &__row {
    display: flex;
    justify-content: center;
    transition: transform 1s;
  }

  &__item {
    flex-basis: 20%;
  }

  &__img {
    &:hover {
      opacity: 0.7;
    }
  }
}
