section.shop-banner
    div.shop-banner__inner
        h3.shop-banner__title
            |December sale is on!
            br
            |with big 
            span Discount...
        div.shop-banner__box
            span 
                |Sale!
                br
                | Upto
            |50%
            span off
        a.shop-banner__button(href="#") Shop Now  