.shop-banner {
  background-image: url(../img/1.jpg);
  background-size: cover;

  &__inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 110px 15px;
  }

  &__title {
    font-size: 50px;
    line-height: 1.2em;
  }

  &__title span {
    color: #f28123;
  }

  &__box {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #f28123;
  }

  &__box span {
    font-size: 24px;
    line-height: 1em;
    color: #051922;
    font-weight: 400;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
  }

  &__box span:last-of-type {
    margin-right: 0px;
    margin-left: 10px;
  }

  &__button {
    @extend .btn-main;
  }

  &__button:hover {
    background-color: #051922;
    color: #f28123;
  }
}
