section.contact-banner
    .contact-banner__inner
        .contact-banner__text
            p.contact-banner__subtitle
                |GET 24/7 SUPPORT
            h1.contact-banner__title
                | Contact us
