div.cart-tables__container
    
    include product-cart-table.pug

    div.total-table__section

        include total-cart-table.pug

        include total-cart-button.pug

        include cart-coupon.pug