section.cart-tables__section
    
    include product-cart-table.pug

    section.total-table__wrapper

        include total-cart-table.pug

        include total-cart-button.pug

        include cart-coupon.pug