div.cart-coupon
    h4.cart-coupon__title
        | Apply Coupon
    form.cart-coupon__form
        p
            input.cart-coupon__form__input_text(type='text', placeholder='Coupon')
        p
            input.cart-coupon__form__input_submit(type='submit', value='Apply')