@import "src/scss/global-style/media";

.footer {
  background-color: #051922;
  color: #fff;

  &__container {
    padding: 150px 15px;
    max-width: 1170px;
    margin: 0 auto;
    @include breakpoint(lg-max){
      &{
        padding: 100px 30px;
      }
    }
    @include breakpoint(md-max){
      &{
        padding: 50px 50px;
      }
    }
    @include breakpoint(md-max){
      &{
        padding: 20px 20px;
      }
    }
  }

  &__row {
    display: flex;
    @include breakpoint(lg-max){
      &{
        flex-wrap: wrap;
      }
    }
    @include breakpoint(sm-max){
      &{
        flex-direction: column-reverse;
      }
    }
  }

  &__col {
    width: 25%;
    padding: 0 15px;
    @include breakpoint(lg-max){
      &{
        width: 50%;
      }
    }
    @include breakpoint(tablet-600){
      &{
        width: 100%;
      }
      &:nth-child(2){
        width: 70%;
      }
      &:nth-child(3){
        width: 30%;
      }
    }
    @include breakpoint(sm-max){
      &{
        width: 100%;
      }
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        width: 100%;
      }
      &:nth-child(3){
        width: 100%;
      }
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #fff;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 20px;
      height: 2px;
      background-color: #f28123;
      content: "";
    }
  }

  &__text {
    color: #fff;
    opacity: 0.7;
    line-height: 1.8;
    margin-bottom: 18px;
    font-size: 14px;
  }

  &__list_item {
    opacity: 0.7;
    margin-bottom: 10px;
    line-height: 1.8;
    font-size: 14px;
    list-style: none;

    &_link {
      color: #fff;
      transition: 0.3s;
      text-decoration: none;
      display: inline-block;

      &:hover {
        color: #f59d53;
      }
    }
  }

  &__icon {
    &:before {
      font-weight: 900;
      color: #f28123;
      margin-right: 10px;
    }
  }

  &__input[type="email"] {
    border: none;
    background-color: #012738;
    width: 78%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
  }

  &__button {
    transition: 0.3s;
    width: 20%;
    border: none;
    background-color: #012738;
    color: #f28123;
    padding: 14px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #f28123;
      color: #051922;
    }
  }
}

@import "./copyright";
