section.search
    div.search__wrapper
        div.search__btn_close
            i.fa.fa-close
        div.search__container
            h3 search for:
            input.search__line(type='text' placeholder='Keywords')
            button.search__btn(type='submit') Search
                i.fa.fa-search