section.search#search-window
    div.search__wrapper
        div.search__btn_close#search-close
            i.fa.fa-close
        div.search__container
            h3 search for:
            input.search__line#search-input(type='text' placeholder='Keywords')
            button.search__btn#search-btn-send(type='submit') Search
                i.fa.fa-search