section.section-product-promotion
    .section-product-promotion__container-promotion-info
        .section-product-promotion__img-product-promotion
            img(src='./img/a.jpg')
            .section-product-promotion__store-promotion-price
                    h1.section-product-promotion__section-title
                     span.section-product-promotion__price
                        strong 30%
                        br
                        | per kg
        .section-product-promotion__product-promotion-inform
            h2.color-word
                |Deal
                span of the month
            span HIKAN STRWABERRY
            p
                | Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea.
                | Perspiciatis unde omnis iste natus error sit voluptatem accusant
            .section-product-promotion__box-time
                .section-product-promotion__time-action
                    span.color-word 00
                    p Days
                .section-product-promotion__time-action
                    span.color-word 00
                    p Hours
                .section-product-promotion__time-action
                    .color-word 00
                    p Mins
                .section-product-promotion__time-action
                    span.color-word 00
                    p Secs
            a.btn-main.btn-add-to-card(href="#")
                i.fa.fa-shopping-cart.products__icon
                | Add to Cart