section.latest-news
    div.latest-news-title__wrapper
        h3.latest-news__title Our
            span  News
        p.latest-news__subtitle 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            | Aliquid, fuga quas itaque eveniet beatae optio.
    
    include latest-news__row.pug

    div.latest-news__button-wrapper
        a.latest-news__button(href='news.html') More News
