ul.latest-news__row
    - arrLatestNews = [{backgroundImg:"news__first__background", title:"You will vainly look for fruit on it in autumn.", href:"#"}, {backgroundImg:"news__second__background", title:"A man worth has its season, like tomato.", href:"#"}, {backgroundImg:"news__third__background", title:"Good thoughts bear good fresh juicy fruit.", href:"#"}]
    each element in arrLatestNews    
        li.latest-news__col
            a(href=element.href)
                div.latest-news__background(class=element.backgroundImg)
            div.latest-news__col__box
                h4.latest-news__col__title=element.title
                p.latest-news__col__meta
                    span.latest-news__col_item
                        i.fa.fa-user.latest-news__col_icon
                        | Admin
                    span.latest-news__col_item
                        i.fa.fa-calendar.latest-news__col_icon
                        | 27 December, 2019
                p.latest-news__col__text
                    | Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                    | Praesent vitae mattis nunc, egestas viverra eros.
                a.latest-news__col__button(href=element.href)
                    | read more 
                    i.fa.fa-angle-right.latest-news__col_icon