.copyright {
    background-color: #051922;
    border-top: 1px solid #232a35;

    .copyright__p {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        padding: 16px 0;
        font-size: 15px;
    }

    .copyright__link {
        color: #F28123;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: #f59d53;
        }
    }
}

.copyright__container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.copyright-social__wrapper {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            a {
                font-size: 16px;
                color: #fff;
                opacity: 0.7;
                padding: 16px 10px;
                display: block;

                &:hover {
                    color: #f59d53;
                }
            }
        }
    }
}