.local-shop-owner {
  font-family: sans-serif;
  width: 100%;
  height: 600px;
  padding-top: 130px;
  display: flex;
  justify-content: center;

  &__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__avatar {
    width: 100px;
    padding-bottom: 15px;

    img {
      border-radius: 50%;
    }
  }

  &__name {
    font-weight: bold;
    text-align: center;

    span {
      font-size: 19px;
    }

    p {
      color: #828c91;
      padding-top: 15px;
      font-size: 13px;
    }
  }

  &__inform {
    padding-top: 15px;
    color: #999999;
    line-height: 1.8;
    font-style: italic;
    text-align: center;
    font-size: 15px;

    .icon-quote-right {
      font-size: 60px;
    }
  }

  &_hidden {
    display: none;
  }
}


