.wrapper {
  height: 100vh;
  background: url("../../img/hero-bg.jpg") center center no-repeat fixed;
  background-size: cover;

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
  }

  &__banner-opacity {
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: rgba(7, 33, 46, 0.6);
  }

  &__banner-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box-button {
    display: flex;
    width: 350px;
    justify-content: space-around;
  }

  &__title-max {
    color: #f28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  }

  &__title-min {
    font-size: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }


  &__btn-fruit-collection {
    background-color: #f28123;

    &:hover {
      background-color: #020202;
      color: #f28123;
    }
  }

  &__btn-contact {
    background: rgba(255, 255, 255, 0);
    border: #f28123 2px solid;

    &:hover {
      background-color: #f28123;
    }
  }
}
