section.banner-shop 
    .banner-shop__inner
        .banner-shop__text
            p.banner-shop__subtitle
                | FRESH AND ORGANIC
            h1.banner-shop__title 
                | Shop
