section.wrapper__banner-opacity.wrapper__banner
    .wrapper__banner-content
        h3.wrapper__title-max Fresh &amp; Organic
        h1.wrapper__title-min Delicious Seasonal Fruits
        .wrapper__box-button
            a.wrapper__btn-fruit-collection.btn-main(href='#') Fruit Collection
            a.wrapper__btn-contact.btn-main(href='#')  Contact Us
