section.wrapper__banner#wrapper-slider
            .wrapper__banner-opacity
                .wrapper__banner-arrow-left#data-slider-left
                    i.fa.fa-arrow-left(aria-hidden = "true")
                -
                    arr = [{
                        h3: 'Fresh & Organic',
                        h1: 'Delicious Seasonal Fruits1',
                        a1href: '#',
                        a1: 'Fruit Collection',
                        a2href: '#',
                        a2: 'Contact Us',
                    },
                        {
                            h3: 'Fresh Everyday',
                            h1: '100% Organic Collection2',
                            a1href: '#',
                            a1: 'Visit Shop',
                            a2href: '#',
                            a2: 'Contact Us',
                        },
                        {
                            h3: 'Mega Sale Going On!',
                            h1: 'Get December Discount3',
                            a1href: '#',
                            a1: 'Visit Shop',
                            a2href: '#',
                            a2: 'Contact Us',
                        }]
                each element in arr
                        .wrapper__banner_slide(data-slider-banner)
                             .wrapper__banner-opacity
                                 .wrapper__banner-slider-container
                                    .wrapper__banner-content
                                        h3.wrapper__title-max=element.h3
                                        h1.wrapper__title-min=element.h1
                                        .wrapper__box-button
                                             a.wrapper__btn-fruit-collection(href=element.a1href)=element.a1
                                             a.wrapper__btn-contact(href=element.a2href)=element.a2
            .wrapper__banner-arrow-right#data-slider-right
                i.fa.fa-arrow-right(aria-hidden="true")


